*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.begin{
    margin-top: 3vh;
}

section{
    text-align: center;
}

form{
    margin: 5vh;
}

button{
    margin-top: 3vh;
}

h2{
    margin-top: 3vh;
}

img{
    width: 100%;
    height: auto;
}

div img {
    width: clamp(40%, 25rem, 100%);
}

input{
    max-width: 90%;
    margin: auto;
}